# Importing Libraries

In [66]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load Data

In [67]:
DATA='USDJPY'

# extended_columns = [str(num)+'h' for num in np.arange(1,25)]
# extended_columns
# names=['time','currency','description','impact','actual','deviation','consensus','previous','result'].extend()

In [68]:
frame = pd.read_csv('./data/economic_events_'+DATA+'.csv',header=0,parse_dates=['time'],index_col='time',date_format='%y-%m-%d %H:%M:%S%Z')
frame.rename(columns={'hex_color_actual':'result'},inplace=True)

In [71]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17320 entries, 2013-01-02 14:58:00+00:00 to 2024-06-06 15:30:00+01:00
Data columns (total 32 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   currency     17320 non-null  object
 1   description  17320 non-null  object
 2   impact       17320 non-null  object
 3   actual       17320 non-null  object
 4   deviation    17320 non-null  object
 5   consensus    17320 non-null  object
 6   previous     17320 non-null  object
 7   result       17320 non-null  object
 8   1h           17305 non-null  float64
 9   2h           17256 non-null  float64
 10  3h           17222 non-null  float64
 11  4h           17196 non-null  float64
 12  5h           17169 non-null  float64
 13  6h           17141 non-null  float64
 14  7h           16882 non-null  float64
 15  8h           16016 non-null  float64
 16  9h           15089 non-null  float64
 17  10h          14783 non-null  float64
 18  11h          14386 non-null  float64
 19  12h          14386 non-null  float64
 20  13h          14386 non-null  float64
 21  14h          14384 non-null  float64
 22  15h          14384 non-null  float64
 23  16h          14366 non-null  float64
 24  17h          14237 non-null  float64
 25  18h          14192 non-null  float64
 26  19h          14109 non-null  float64
 27  20h          14101 non-null  float64
 28  21h          13994 non-null  float64
 29  22h          13414 non-null  float64
 30  23h          13203 non-null  float64
 31  24h          12911 non-null  float64
dtypes: float64(24), object(8)
memory usage: 4.4+ MB

In [72]:
frame.describe()

,1h,2h,3h,4h,5h,6h,7h,8h,9h,10h,...,15h,16h,17h,18h,19h,20h,21h,22h,23h,24h
count,17305.000000,17256.000000,17222.000000,17196.000000,17169.000000,17141.000000,16882.000000,16016.000000,15089.000000,14783.000000,...,14384.000000,14366.000000,14237.000000,14192.000000,14109.000000,14101.000000,13994.000000,13414.000000,13203.000000,12911.000000
mean,115.707734,115.722924,115.709902,115.714298,115.724657,115.733357,115.699669,115.603644,115.428376,115.605214,...,115.730460,115.726872,115.717319,115.738588,115.759098,115.757113,115.747058,115.560383,115.695622,115.835290
std,14.331056,14.356980,14.358393,14.359753,14.362905,14.369227,14.346434,14.267401,14.188387,14.237007,...,14.383583,14.386808,14.376647,14.378254,14.398870,14.399771,14.396495,14.307381,14.342348,14.441811
min,86.831000,86.841000,86.868000,87.066000,87.055000,87.039000,86.841000,86.904000,87.135000,87.141000,...,87.238000,87.130000,87.125000,87.125000,86.897000,86.852000,86.852000,86.855000,86.895000,86.831000
25%,106.931000,106.926750,106.907000,106.901000,106.926000,106.934000,106.926000,106.918000,106.869000,106.944000,...,106.926000,106.904000,106.888000,106.915250,106.914000,106.863000,106.891000,106.806000,106.892000,106.857000
50%,110.928000,110.947000,110.944000,110.951000,110.957000,110.971000,110.962500,110.952000,110.850000,110.936000,...,110.942000,110.920500,110.954000,110.958000,110.956000,110.961000,110.928500,110.894000,110.911000,110.951000
75%,120.394000,120.493000,120.447750,120.482000,120.580000,120.601000,120.599000,120.397000,120.071000,120.300000,...,120.492250,120.524000,120.525000,120.536250,120.597000,120.603000,120.461000,120.255500,120.437000,120.730500
max,157.798000,157.874000,157.910000,157.853000,157.909000,157.966000,158.352000,158.352000,157.910000,157.903000,...,157.910000,157.909000,158.352000,157.966000,157.948000,157.948000,158.352000,157.903000,157.910000,157.853000

In [73]:
frame.columns

Index(['currency', 'description', 'impact', 'actual', 'deviation', 'consensus',
       'previous', 'result', '1h', '2h', '3h', '4h', '5h', '6h', '7h', '8h',
       '9h', '10h', '11h', '12h', '13h', '14h', '15h', '16h', '17h', '18h',
       '19h', '20h', '21h', '22h', '23h', '24h'],
      dtype='object')

In [74]:
frame.shape

(17320, 32)

In [61]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17320 entries, 2013-01-02 14:58:00+00:00 to 2024-06-06 15:30:00+01:00
Data columns (total 32 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   currency     17320 non-null  object
 1   description  17320 non-null  object
 2   impact       17320 non-null  object
 3   actual       17320 non-null  object
 4   deviation    17320 non-null  object
 5   consensus    17320 non-null  object
 6   previous     17320 non-null  object
 7   result       17320 non-null  object
 8   1h           17305 non-null  float64
 9   2h           17256 non-null  float64
 10  3h           17222 non-null  float64
 11  4h           17196 non-null  float64
 12  5h           17169 non-null  float64
 13  6h           17141 non-null  float64
 14  7h           16882 non-null  float64
 15  8h           16016 non-null  float64
 16  9h           15089 non-null  float64
 17  10h          14783 non-null  float64
 18  11h          14386 non-null  float64
 19  12h          14386 non-null  float64
 20  13h          14386 non-null  float64
 21  14h          14384 non-null  float64
 22  15h          14384 non-null  float64
 23  16h          14366 non-null  float64
 24  17h          14237 non-null  float64
 25  18h          14192 non-null  float64
 26  19h          14109 non-null  float64
 27  20h          14101 non-null  float64
 28  21h          13994 non-null  float64
 29  22h          13414 non-null  float64
 30  23h          13203 non-null  float64
 31  24h          12911 non-null  float64
dtypes: float64(24), object(8)
memory usage: 4.4+ MB

In [75]:
frame.head()

,currency,description,impact,actual,deviation,consensus,previous,result,1h,2h,...,15h,16h,17h,18h,19h,20h,21h,22h,23h,24h
time,,,,,,,,,,,,,,,,,,,,,
2013-01-02 14:58:00+00:00,USD,S&P Global Manufacturing PMI(Dec),low,54,0.76,53.2,54.2,green,87.168,87.092,...,87.242,87.238,87.130,87.125,87.131,86.897,86.852,86.855,86.895,86.958
2013-01-02 16:00:00+00:00,USD,Construction Spending (MoM)(Nov),medium,-0.3%,-1.76,0.6%,1%,red,87.092,87.096,...,87.238,87.130,87.125,87.131,86.897,86.852,86.855,86.895,86.958,86.831
2013-01-02 16:00:00+00:00,USD,ISM Manufacturing PMI(Dec),high,50.2,-0.09,50.3,48,red,87.092,87.096,...,87.238,87.130,87.125,87.131,86.897,86.852,86.855,86.895,86.958,86.831
2013-01-02 16:00:00+00:00,USD,ISM Manufacturing Prices Paid(Dec),medium,55.5,1.18,51.5,52.1,green,87.092,87.096,...,87.238,87.130,87.125,87.131,86.897,86.852,86.855,86.895,86.958,86.831
2013-01-03 14:15:00+00:00,USD,ADP Employment Change(Dec),medium,185K,2.77,133K,202K,green,86.831,86.918,...,87.750,87.734,88.070,88.205,88.185,88.246,88.262,88.348,87.925,87.784

In [76]:
frame.tail()

,currency,description,impact,actual,deviation,consensus,previous,result,1h,2h,...,15h,16h,17h,18h,19h,20h,21h,22h,23h,24h
time,,,,,,,,,,,,,,,,,,,,,
2024-06-06 13:30:00+01:00,USD,Goods and Services Trade Balance(Apr),low,$-74.6B,0.79,$-76.1B,$-68.6B,green,156.131,156.024,...,155.746,155.573,155.508,155.355,155.412,155.352,155.478,155.568,155.586,156.772
2024-06-06 13:30:00+01:00,USD,Initial Jobless Claims(May 31),medium,229K,0.96,220K,221K,red,156.131,156.024,...,155.746,155.573,155.508,155.355,155.412,155.352,155.478,155.568,155.586,156.772
2024-06-06 13:30:00+01:00,USD,Nonfarm Productivity(Q1),medium,0.2%,0.24,0.1%,0.3%,green,156.131,156.024,...,155.746,155.573,155.508,155.355,155.412,155.352,155.478,155.568,155.586,156.772
2024-06-06 13:30:00+01:00,USD,Unit Labor Costs(Q1),medium,4%,-0.86,4.9%,4.7%,red,156.131,156.024,...,155.746,155.573,155.508,155.355,155.412,155.352,155.478,155.568,155.586,156.772
2024-06-06 15:30:00+01:00,USD,EIA Natural Gas Storage Change(May 31),low,98B,1.55,89B,84B,red,155.976,155.793,...,155.508,155.355,155.412,155.352,155.478,155.568,155.586,156.772,156.952,156.864

In [77]:
frame.isnull().any()

currency       False
description    False
impact         False
actual         False
deviation      False
consensus      False
previous       False
result         False
1h              True
2h              True
3h              True
4h              True
5h              True
6h              True
7h              True
8h              True
9h              True
10h             True
11h             True
12h             True
13h             True
14h             True
15h             True
16h             True
17h             True
18h             True
19h             True
20h             True
21h             True
22h             True
23h             True
24h             True
dtype: bool

# EDA

In [80]:
frame.currency.value_counts()

currency
USD    12449
JPY     4871
Name: count, dtype: int64

In [81]:
frame[['currency','impact']].value_counts()

currency  impact
USD       medium    6058
          low       4774
JPY       low       2441
          medium    2220
USD       high      1616
JPY       high       210
USD       none         1
Name: count, dtype: int64

In [83]:
frame.description.value_counts()

description
Fed Interest Rate Decision                    85
BoJ Interest Rate Decision                    70
Gross Domestic Product Annualized(Q1) PREL    36
Gross Domestic Product Annualized(Q4) PREL    33
Gross Domestic Product Annualized(Q3) PREL    33
                                              ..
EIA Crude Oil Stocks Change(Nov 30)            1
EIA Crude Oil Stocks Change(Dec 7)             1
Continuing Jobless Claims(Nov 30)              1
Initial Jobless Claims(Dec 7)                  1
API Weekly Crude Oil Stock(May 31)             1
Name: count, Length: 3182, dtype: int64

In [85]:
frame.description.unique().shape

(3182,)

In [87]:
frame[['currency','impact','result']].value_counts()

currency  impact  result
USD       medium  green     2769
                  red       2629
          low     red       2205
                  green     2185
JPY       low     green     1074
                  red       1074
          medium  red        980
                  green      955
USD       high    green      680
          medium  black      660
          high    red        616
          low     black      384
          high    black      320
JPY       low     black      293
          medium  black      285
          high    black       84
                  green       65
                  red         61
USD       none    green        1
Name: count, dtype: int64

In [88]:
frame.currency.unique()

array(['USD', 'JPY'], dtype=object)

# Visualization

currency  description  impact  actual  deviation  consensus  previous  result  1h     2h     3h     4h     5h     6h     7h     8h     9h     10h    11h    12h    13h    14h    15h    16h    17h    18h    19h    20h    21h    22h    23h    24h
False     False        False   False   False      False      False     False   False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False    12911
                                                                                                                                       True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True       927
                                                                                                                                True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True       866
                                                                                                                                False  False  False  False  False  False  False  False  False  False  False  False  False  False  True   True   True       580
                                                                                                                                                     True   True   True   True   True   True   True   True   True   True   True   True   True   True       397
                                                                                                                                              True   True   True   True   True   True   True   True   True   True   True   True   True   True   True       306
                                                                                                                                              False  False  False  False  False  False  False  False  False  False  False  False  False  False  True       292
                                                                                                                         True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True       259
                                                                                                                         False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  True   True       211
                                                                                                                                                                                               True   True   True   True   True   True   True   True       129
                                                                                                                                                                                               False  False  False  False  True   True   True   True       107
                                                                                                                                                                                                             True   True   True   True   True   True        83
                                                                                      True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True        49
                                                                                      False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  True   True   True   True   True   True   True        45
                                                                                             True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True        34
                                                                                             False  False  False  True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True        28
                                                                                                           True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True        27
                                                                                                    True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True        26
                                                                                                    False  False  False  False  False  False  False  False  False  False  False  False  True   True   True   True   True   True   True   True   True        18
                                                                               True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True   True        15
                                                                               False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  True   True   True   True   True         8
                                                                                                                                                                          True   True   True   True   True   True   True   True   True   True   True         2
Name: count, dtype: int64

In [63]:
frame['deviation'] = frame.deviation.replace('-',None).astype(np.float64)

In [64]:
frame.deviation.value_counts().tail()

deviation
-7.42     1
-7.91     1
 14.75    1
-9.61     1
 5.11     1
Name: count, dtype: int64

In [65]:
frame.result.value_counts()

result
green    7729
red      7565
black    2026
Name: count, dtype: int64